
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif);
    animation: fadeIn 1s ease-in;
  }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

  header {
      display: flex;
      align-items: center;
  }
  
  h1 {
      color: lightgrey;
      margin-right: 10px; 
      font-size: 40px;
      font-family: cursive;
      text-decoration: underline;
  }

  img {
      max-width: 100%;
      height: auto; 
      margin-left: 20%;
      width: 190px;
      border-radius: 3em;
      opacity: 0.8;


  }
 
  button.loginBtn {
      background-color: lightgrey;
      border-style: double;
      border-inline: red;
      font-size: 20px;
      font-family: cursive;
      border-radius: 60em;
      text-decoration: underline;
      margin-left: 30%;
      width: 200px;
      height: 100px;
  }

  button.loginBtn:hover { color: orange; }

  p{
      color: lightgrey;
      font-family: cursive;
      font-size: 60px;

  }

h2.sherbimet{
      font-family: cursive;
    color:lightgrey;
          }

  p.sherbime{
    color: lightgrey;
    font-family: cursive;
    font-size: 20px;

}

h3{
    text-align: center;
    font-size: 24px;
}

h5{
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 45px;
}

.social {
    list-style: none;
}

ul.sherbimeLista{

color:lightgrey;

}

.sherbim {
  
  font-size: 18px;
  
}

.social li {
    display: inline-block;
}


.cpy,
.address,
.contact-number {
    font-size: 20px;
    margin-right: 100px; 
}

.contact-number {
    font-size: 20px;
    font-family: Georgia;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

       






